@font-face{
    font-family:'bowling';
    src:url('../cookies/data/pumpkin/White\ Bowling.ttf');
}
header{
    background-color: #A8BACA;
    height: 70px;
    top: 0;
    position: fixed;
    width: 99%;
}
.main_combos{
width: 100%;
}
.container{
    padding-left: 40px;
    padding-right: 40px;
}
.header-logo{
    float: left;
    padding-right: 40px;
    padding-left: 40px;
}
li{
    list-style: none;
    float: left;
    padding:10px 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
ul{
    margin-left: 100px;
}
.header-list a{
    text-decoration: none;
    color: white;
}
.header-list li{
    display: block;
    transition: 0.5s;
}
.header-list a:hover{
    background-color: #F5D1C9;
}
.header-logo img{
    width: 70px;
    height: 60px;
    top: 0;
    position: absolute;
    padding-top: 5px;
}
.bagian1_combos{
    background-color:#fff8ee;
    width: 100%;
    text-align: center;
    padding-top: 120px;
    height: 800px;
    padding-bottom: 50px;
}
.heading_combos{
    color: #16487f;
}
.heading_combos h1{
    font-weight: bold;
    font-size: 60px;
}
.heading_combos h2{
    font-weight: normal;
    font-size: 30px;
    font-family: 'Lucida';
}
.kontent_combos{
    background-color: #f5D1C9;
    margin-top: 20px;
    border: solid 3px #1c4383;
    width: 25%;
    padding-bottom: 60px;
    float: left;
    margin-right: 30px;
    margin-left: 60px;
    color: #2C5A95;
}
.kontent_combos p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cart a{
  border: 2px solid #1c4383;
  padding: 10px;
  width: 50%;
  border-radius: 25px;
  margin: auto;
  text-decoration: none;
  color: #2C5A95;
  display: block;
  margin-top: 40px;
  transition: all 0.5s;  
}
.cart a:hover {
    background-color: white;
}
.footer2{
    background-color: #A8BACA;
    text-align: center;
    height: 65px;
    padding-top: 10px;
    font-weight: bold;
    color:#1c4383 ;
    font-size: 20px;
    font-family: 'fantasy';
    }